@model IEnumerable<MovieBooking.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm())
{
    <p>
        Find By Movie Name : @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MRate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MId }) |
        @Html.ActionLink("Details", "Details", new { id = item.MId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MId })
    </td>
</tr>
}

</table>
